<form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
        <p class="text-center text-xl text-black dark:text-white">
            Sign Up with your account
        </p>
    </nz-form-item>
    <div class="dark:text-white text-black mt-5">
        <p class="font-semibold">User name</p>
        <nz-form-control>
            <input type="text" class="mt-2" formControlName="username" nz-input placeholder="User name" />
        </nz-form-control>
    </div>
    <div class="dark:text-white text-black mt-5">
        <p class="font-semibold">First name</p>
        <nz-form-control>
            <input type="text" class="mt-2" formControlName="firstName" nz-input placeholder="First name" />
        </nz-form-control>
        
    </div>
    <div class="dark:text-white text-black mt-5">
        <p class="font-semibold">Last name</p>
        <nz-form-control>
            <input type="text" class="mt-2" formControlName="lastName" nz-input placeholder="Last name" />
        </nz-form-control>
        
    </div>
    <div class="dark:text-white text-black mt-5">
        <p class="font-semibold">Email</p>
        <nz-form-control>
            <input type="text" class="mt-2" formControlName="email" nz-input placeholder="Email" />
        </nz-form-control>
        
    </div>
    <div class="dark:text-white text-black mt-5">
        <p class="font-semibold">Password</p>
        <nz-form-control class="mt-2" >
            <nz-input-group [nzSuffix]="suffixbtn">
                <input [type]="isShowPassword?'text':'password'"  formControlName="password" nz-input placeholder="Password" />
            </nz-input-group>
            <ng-template #suffixbtn>
                @if (isShowPassword) {
                <span (click)="toggleShowPassword()" nz-icon nzType="eye" nzTheme="outline"></span>
                }@else {
                <span (click)="toggleShowPassword()" nz-icon nzType="eye-invisible" nzTheme="outline"></span>
                }
            </ng-template>
            
        </nz-form-control>
        
    </div>
    <div class="dark:text-white text-black mt-5">
        <p class="font-semibold">Confirm Password</p>
        <nz-form-control class="mt-2">
            <nz-input-group [nzSuffix]="suffixbtn">
                <input [type]="isShowPassword?'text':'password'"  formControlName="confirmPassword" nz-input
                    placeholder="Confirm Password" />
            </nz-input-group>
            <ng-template #suffixbtn>
                @if (isShowPassword) {
                <span (click)="toggleShowPassword()" nz-icon nzType="eye" nzTheme="outline"></span>
                }@else {
                <span (click)="toggleShowPassword()" nz-icon nzType="eye-invisible" nzTheme="outline"></span>
                }
            </ng-template>
        </nz-form-control>
        
    </div>
    <button type="submit" class="mt-6 rounded  w-full" nz-button nzType="primary">Submit</button>
</form>